/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/*標題About.js/Catalog.js*/
.title {
  text-align: center;
  padding-top: 20px;
}
/*about的段落*/
.paragraph {
  padding-left: 5%;
  padding-right: 5%;
}
.lastParagraph {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
}
/* 超連結*/
a {
  color: peru
}
a:hover{text-decoration:none;}
/* 底部*/
.footer {
  text-align: center;
}
/* 分隔線*/
.line {
  width:80%;
  border-width:3px;
  border-color: #ECF5FF;
}

.catalog {
  margin-left: 15%;
  /* text-align: center; */
  /* flex:1;
  text-align: center; */
}

.catalog1 {
  margin-left: 4%;
}

.scroll {
  flex:1;
  flex-direction: row;
}
.scrollTitle {
  flex:1;
  margin-left: 5%;
}
.scrollContent {
  flex:3;
  padding-bottom: 50px;
  margin-right: 5%;
}